* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.app_header {
  background-color: white;
  border-bottom: 1px solid lightgray;
  align-items: center;
  height: 54px;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 975px;
  transition: height .2s ease-in-out;
  width: 100%;
  position: relative;
  padding: 0 20px 0 5px;
  margin-bottom: 30px;
}

.app::-webkit-scrollbar {
  display: none;
}

.app_signup > img {
  max-height: 50%;
  max-width: 50%;
}

.app_headerImage {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  -webkit-box-direction: normal;
}